@font-face {
    font-family:'Font-title';
    src: url('../data/font/title_first/Acme-Regular.ttf') format(truetype);
}
@font-face {
    font-family:'Placeholder' ;
    src: url('../data/font/placeholder/Rajdhani-Regular.ttf') format(truetype);
}
@font-face {
    font-family:'Video_title' ;
    src: url('../data/font/second_font/OleoScript-Regular.ttf') format(truetype);
}
@font-face {
    font-family:'Description' ;
    src: url('../data/font/3_font/Satisfy-Regular.ttf') format(truetype);
}
@font-face {
    font-family:'Title_font' ;
    src: url('../data/font/title/Rowdies-Regular.ttf') format(truetype);
}

.Title_font
{
    font-family: Title_font 
    
}

.Video_title
{
    font-family: Video_title 
    
}
.Description
{
    font-family: Description
    
}

.font_title_first
{
    font-family: Font-title 
    
}
.Placeholder
{
    font-family:Placeholder;
}
.Pop
{
        animation: pop 1s;

}
@keyframes pop
{
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
.Pops
{

        animation: pops 1s;

}
@keyframes pops
{
        0% {
            opacity: 1;
            transform: translateY(0) scale(1);
        }
        100% {
            opacity: 0;
            transform: translateY(30px) scale(0.9);
        }

}
header.sticky .headers 
{
    display: none;
}
header.sticky 
{
    position: fixed;
    top: 0;
}
progress::-webkit-progress-value{
    background:#4287f5 ;
}

  